@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
  background-color: #dedede;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-out;
  padding: 50px;
  margin: 10px;

}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.events-holder {
  display: flex;
  justify-content: flex-start;
}
.feature-btn {
  border: none;
  display: block;
  width: 115px;
  background-color: #3cba87;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  margin-top: 20px;
}
.feature-btn:hover {
  background-color: #2d9e6e;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A54FFF;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}